@page "/contactdelete/{id:int}"


@inject IContactService ContactService
@inject NavigationManager NavigationManager

<h3>Contact Delete</h3>
<p style="color:darkred;text-align:center">Are you sure you want to delete this contact?</p>

<EditForm Model="@contact">

    <table class="table">
        <tr>

            <td>First Name:</td>
            <td><input type="text" @bind="contact.FirstName" />  </td>

        </tr>

        <tr>

            <td>Last Name:</td>
            <td><input type="text" @bind="contact.LastName" />  </td>

        </tr>
        <tr>

            <td>Phone:</td>
            <td><input type="text" @bind="contact.Phone" />  </td>

        </tr>
        <tr>

            <td>Address:</td>
            <td><input type="text" @bind="contact.Address" />  </td>

        </tr>
        <tr>
            <td colspan="2" style="text-align:center"></td>
            <input type="submit" value="Delete" @onclick="Delete" />
            <input type="button" value="Cancel" @onclick="Cancel" />
        </tr>


    </table>


</EditForm>


@code {
    [Parameter]
    public int id { get; set; }

    Contact contact = new Contact();


    protected async Task Delete()
    {
        await ContactService.Delete(id);
        NavigationManager.NavigateTo("/");
    }

    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }

    protected async override Task OnInitializedAsync()
    {
      
            contact = await ContactService.GetDetails(id);

    }

}
